@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  font-family: "Palatino Linotype", serif;
  overscroll-behavior: none;
}

.top-edge {
  @apply absolute top-0 left-0 w-full -translate-y-[99%] rotate-180;
}

.bottom-edge {
  @apply absolute bottom-0 left-0 w-full translate-y-[99%] z-[1];
}

.bg-gradient-top-to-bottom {
  background: linear-gradient(180deg, #FFFFFF -2.26%, #9F0000 21.02%, #A90000 97.97%, #000000 98.98%);
}

.bg-gradient-bottom-to-top {
  background: linear-gradient(0deg, #FFFFFF -2.26%, #9F0000 21.02%, #A90000 97.97%, #000000 98.98%);
}
